EXECUTOR_TOKEN={{ vault_executor_token }}
VAULT_PASS={{ vault_executor_vault_pass }}
GH_TOKEN={{ vault_sandbox_github_token }}
GH_OWNER=tkozakas
CF_API_TOKEN={{ vault_cf_api_token }}
CF_ZONE=tkozakas.online
