#!/bin/sh
set -u

GC_DIR="{{ svc_dir | dirname }}/backups"
LOG="$GC_DIR/gc.log"
LOGMAX=1000

mkdir -p "$GC_DIR"

STAMP="$(date '+%Y-%m-%d %H:%M:%S')"

{% raw %}
images_out=$(docker image prune -af --filter "until=72h" 2>&1)
images_reclaimed=$(echo "$images_out" | grep "Total reclaimed space" | tail -1 | sed 's/.*: //')

builder_out=$(docker builder prune -af 2>&1)
builder_reclaimed=$(echo "$builder_out" | grep "Total reclaimed space" | tail -1 | sed 's/.*: //')

echo "[$STAMP] images: $images_reclaimed, builder: $builder_reclaimed" >> "$LOG"

if [ -f "$LOG" ]; then
    tail -n $LOGMAX "$LOG" > "$LOG.tmp" && mv "$LOG.tmp" "$LOG"
fi
{% endraw %}
