GITHUB_TOKEN={{ vault_gh_stats_github_token }}
GITHUB_CLIENT_ID={{ vault_gh_stats_github_client_id }}
GITHUB_CLIENT_SECRET={{ vault_gh_stats_github_client_secret }}
TUNNEL_TOKEN={{ vault_gh_stats_tunnel_token }}
DEPLOY_TOKEN={{ vault_gh_stats_deploy_token }}
