BOT_TOKEN={{ vault_got_bot_token }}
DB_URL=postgres://postgres:postgres@localhost:5432/got?sslmode=disable
REDIS_ADDR=localhost:6379
GROQ_API_KEY={{ vault_got_groq_api_key }}
ADMIN_PASS={{ vault_got_admin_pass }}
CMD_ROULETTE={{ vault_got_cmd_roulette }}
DISABLE_CMD_MEME=true
DISABLE_CMD_GPT=true
