HOOKS_TUNNEL_TOKEN={{ vault_hooks_tunnel_token }}
SVC_DIR={{ svc_dir }}
DOCKER_GID={{ docker_gid }}
DOCKER_AUTH={{ home_dir }}/.docker
DEPLOY_TOKEN={{ vault_gh_stats_deploy_token }}
{% for stack in stacks | selectattr('deploy', 'defined') | selectattr('deploy') | list %}
{% set token_var = 'vault_deploy_token_' ~ (stack.name | replace('-', '_')) %}
{% if token_var in vars %}
DEPLOY_TOKEN_{{ stack.name | upper | replace('-', '_') }}={{ vars[token_var] }}
{% endif %}
{% endfor %}
