HOOKS_TUNNEL_TOKEN={{ vault_hooks_tunnel_token }}
SVC_DIR={{ svc_dir }}
DOCKER_GID={{ docker_gid }}
DOCKER_AUTH={{ home_dir }}/.docker
DEPLOY_TOKEN={{ vault_gh_stats_deploy_token }}
DEPLOY_TOKEN_SEA_BATTLE={{ vault_deploy_token_sea_battle }}
DEPLOY_TOKEN_GOT={{ vault_deploy_token_got }}
DEPLOY_TOKEN_GH_STATS={{ vault_deploy_token_gh_stats }}
DEPLOY_TOKEN_GITHUBER={{ vault_deploy_token_githuber }}
DEPLOY_TOKEN_PIMON={{ vault_deploy_token_pimon }}
DEPLOY_TOKEN_JARVIS={{ vault_deploy_token_jarvis }}
DEPLOY_TOKEN_EXECUTOR={{ vault_deploy_token_executor }}
DEPLOY_TOKEN_STREAMTOWER={{ vault_deploy_token_streamtower }}
