TELEGRAM_BOT_TOKEN={{ vault_jarvis_telegram_bot_token }}
TELEGRAM_CHAT_ID={{ vault_jarvis_telegram_chat_id }}
AGENT_TOKEN={{ vault_jarvis_agent_token }}
GH_TOKEN={{ vault_ghcr_pull_token }}
GH_OWNER=tkozakas
DEPLOY_TOKEN={{ vault_gh_stats_deploy_token }}
HOOKS_BASE=https://tkozakas.online/hooks
