TELEGRAM_BOT_TOKEN={{ vault_pimon_telegram_bot_token }}
TELEGRAM_CHAT_ID={{ vault_pimon_telegram_chat_id }}
HOST_LABEL={{ pi_hostname }}
DEPLOY_TOKEN={{ vault_gh_stats_deploy_token }}
GHCR_TOKEN={{ vault_ghcr_pull_token }}
DEPLOY_URL=https://tkozakas.online/hooks/deploy-{stack}
ADGUARD_URL=http://192.168.8.1:3000
HEARTBEAT_URL={{ vault_pimon_heartbeat_url }}
