DATA_DIR=/srv/streamtower
CACHE_DIR=/srv/streamtower/cache
CACHE_SIZE={{ streamtower_cache_size | default(2147483648) }}
TS_AUTH_USER={{ vault_streamtower_auth_user }}
TS_AUTH_PASS={{ vault_streamtower_auth_pass }}
JACKETT_CONFIG_DIR=/srv/streamtower/jackett
JACKETT_API_KEY={{ vault_streamtower_jackett_api_key }}
JACKETT_INDEXERS={{ streamtower_jackett_indexers | default('') }}
SEARCH_TIMEOUT={{ streamtower_search_timeout | default('') }}
PUID=1000
PGID=1000
TZ=Europe/Vilnius
