DATA_DIR=/srv/streamtower
CACHE_DIR=/srv/streamtower/cache
CACHE_SIZE={{ streamtower_cache_size | default(2147483648) }}
TS_AUTH_USER={{ vault_streamtower_auth_user }}
TS_AUTH_PASS={{ vault_streamtower_auth_pass }}
