DATA_DIR=/srv/streamtower
CACHE_DIR=/srv/streamtower/cache
META_DIR=/srv/streamtower/meta
CACHE_SIZE={{ streamtower_cache_size | default(268435456) }}
META_CACHE_BYTES={{ streamtower_meta_cache_bytes | default('') }}
READ_AHEAD_PERCENT={{ streamtower_read_ahead_percent | default('') }}
PRELOAD_BUFFER_BYTES={{ streamtower_preload_buffer_bytes | default('') }}
PEER_CONNECTIONS={{ streamtower_peer_connections | default('') }}
DHT_CONNECTIONS={{ streamtower_dht_connections | default('') }}
UPLOAD_RATE_LIMIT={{ streamtower_upload_rate_limit | default('') }}
DOWNLOAD_RATE_LIMIT={{ streamtower_download_rate_limit | default('') }}
TORRENT_DISCONNECT_SECONDS={{ streamtower_torrent_disconnect_seconds | default('') }}
CATALOG_TTL={{ streamtower_catalog_ttl | default('') }}
SEARCH_TTL={{ streamtower_search_ttl | default('') }}
POSTER_TTL={{ streamtower_poster_ttl | default('') }}
TRANSCODE_JOBS={{ streamtower_transcode_jobs | default(1) }}
V4L2_ENCODER={{ streamtower_v4l2_encoder | default('/dev/null') }}
GOMEMLIMIT={{ streamtower_go_mem_limit | default('192MiB') }}
GOMAXPROCS={{ streamtower_go_max_procs | default(2) }}
STREAMTOWER_PASSWORD={{ vault_streamtower_password }}
TS_AUTH_USER={{ vault_streamtower_auth_user }}
TS_AUTH_PASS={{ vault_streamtower_auth_pass }}
TELEGRAM_BOT_TOKEN={{ vault_streamtower_telegram_bot_token | default(vault_pimon_telegram_bot_token) }}
TELEGRAM_CHAT_ID={{ vault_streamtower_telegram_chat_id | default(vault_pimon_telegram_chat_id) }}
NOTIFY_WINDOW={{ streamtower_notify_window | default('') }}
JACKETT_CONFIG_DIR=/srv/streamtower/jackett
JACKETT_API_KEY={{ vault_streamtower_jackett_api_key }}
JACKETT_INDEXERS={{ streamtower_jackett_indexers | default('') }}
SEARCH_TIMEOUT={{ streamtower_search_timeout | default('') }}
PUID=1000
PGID=1000
TZ=Europe/Vilnius
