DATA_DIR=/srv/torrstream
CACHE_DIR=/srv/torrstream/cache
CACHE_SIZE={{ torrstream_cache_size | default(2147483648) }}
TS_AUTH_USER={{ vault_torrstream_auth_user }}
TS_AUTH_PASS={{ vault_torrstream_auth_pass }}
